/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

* {
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    font-size: 20px;
}

body {
    position: relative;
    background: #394973;
    text-align: center;
    padding-top: 25px;
}


/*--------------------------------------------------
BASIC LAYOUT
--------------------------------------------------*/

.weatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar {
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 25px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*--------------------------------------------------
BUTTON STYLING
--------------------------------------------------*/

button {
    padding: 10px;
    background: lightsteelblue;
    color: lavender;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px black;
    font-family: Raleway;
    width: 50%;
    font-size: 1.5rem;
    margin: -50px 50px 0 50px;
}

button:active {
    background: lavender;
    color: lightsteelblue;
}

/*--------------------------------------------------
FONT STYLING AND SPACING
--------------------------------------------------*/

p, li {
    color: limegreen;
    list-style: none;
}

li {
    line-height: 30px
}

ul {
    margin-top: 0px;
}

h1, h2, h3 {
    color: seagreen;
    font-weight: bold;
    font-family: Raleway;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-bottom: 0px;
}

.summary {
    color: seagreen;
}

.time {
    margin: -20px;
}

/*--------------------------------------------------
SEARCH BAR
--------------------------------------------------*/

.search {
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
}

input {
    width: 20%
}
