/*******************
    ALWAYS USE
******************/
html {
    font-size: 15px;
}
* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

img {
    max-width: 100%;
}
.weatherContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dotted lightgrey;
    border-bottom: 1px dotted lightgrey;
    width: 75%;
    margin: 0 auto;
}
.navBar button{
    width: 50%;
    font-size: 1.2rem;
    
}
.buttonLink {
    text-decoration: none;
    color: black;

}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
